@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-outline-black {
  -webkit-text-stroke: 1px black; /* colore del bordo */
}
.text-outline-white {
  -webkit-text-stroke: 1px white; /* colore del bordo */
}
