@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-shadow-black {
  text-shadow: 2px 2px 2px black;
}
.text-shadow-white {
  text-shadow: 2px 2px 2px white;
}
