/* Lunghezza pagina*/
body{ 
    padding-bottom: 50px;
    padding-left: 30px;
    padding-top: 70PX;
}

/*Container=per raggruppare diverse sezioni*/
.Container{
    width: 80%;
    margin: auto;
}

/*Stili Generali*/
h1{
    text-align: center;
    font-size: 30px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-family: Verdana;
}

h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5{
    font-size: 16px;
    font-weight: 900;
    margin: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.link1{
    color: rgb(0, 154, 165);
}
 
.p1{
    color: green;
    font-weight: 500;
}

.p2{
    font-weight: 700;
}


/*Divisioni ed Ordinamento*/
.boxes{
    border: 1px solid gray;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
}

.sub-boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.cards-boxes{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin: 5px 5px;
    padding: 2px 2px;
}

.cards-boxes:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.card-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.cards-buttons{
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    padding: 6px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
    margin: 6px;
}


.images-box{
    display: flex;
    justify-content: space-between; 
    padding: 10px; 
}

.buttons{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.login-container{
    width: 80px;
}

.click-b-container{
    width: 80px;
}

.Twitter-textarea{
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
    padding: 8px 10px;
}

/*Stili Bottoni*/
.cart-button{
    background-color: rgb(206, 171, 17);
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.cart-button:hover{
    opacity: 0.7;
}

.cart-button:active{
    opacity: 0.4;
}

.buy-button{
    background-color: rgb(207, 68, 18);
    color: white;
    border: none;
    padding: 8px 28px;
    border-radius: 20px;
    margin-left: 8px;
    cursor: pointer;
    transition: background-color 0.25s,
    color 0.25s;
}

.buy-button:hover{
    background-color:lightgray;
    color: orangered;
}

.signup-button{
    background-color: black;
    color: rgb(202, 0, 192);
    padding: 10px;
    border: none;
    margin-left: 8px;
    margin-right: 8px;
    transition: background-color 0.30s,
    color 0.20s;
    cursor: pointer;
}

.signup-button:hover{
    box-shadow: -4px 10px 10px rgba(0, 0, 0, 0.8);
}

.signup-button:active{
    background-color: rgb(202, 0, 192);
    color: black;
}

.login-button{
    padding: 2px;
    transition: padding 0.40s;
    cursor: pointer;
}

.login-button:hover{
    padding: 4px 10px;
    font-weight: bold;
    font-size: large;
}

.click-button{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    transition: margin 0.8s, box-shadow 0.7s;
    cursor: pointer;
}

.click-button:active{
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: none;
}

.triple-buttons{
    background-color: red;
    color: white;
    margin: 0px 10px;
    border: none;
    padding: 6px;
    transition: padding 0.30s, margin 0.30s;
    cursor: pointer;
}

.triple-buttons:hover{
    padding: 6px 13px;
    margin: 0px 3px;
}

/*Stili Immagini*/
.Cat-image1{
    width: 200px;
    border-radius: 20px;
    margin-right: 20px;
}

.Cat-image3{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

/*Stili Inputs*/
.search-bar1{
    border-radius: 4px;
    border: 1px gray solid;
    width: 200px;
    font-size: 12px;
    padding: 8px;
    margin-right: 10px;
}

.search-bar2{
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.40);
    width: 200px;
    border-radius: 30px;
    padding: 10px;
    margin-right: 10px;
}

.Cat-image3Twitter{
    width: 50px;
    height: 50px;
    object-fit:cover;
    border-radius: 25px;
    margin-left: 8px;
    vertical-align: middle;
}

.search-bar2Twitter{
    border: none;
    width: 200px;
    vertical-align: middle;
    margin-left: 4px;
}

.tweet-button{
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    margin-top: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
}

/*Stili tipi Display Block e Inline*/

.name-box,
.email-box{
    display: block;
    margin-bottom: 10px;
}

.block-box,
.signup-form{
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.sixth-exercise-p{
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}

.inline-block-box{
    display: inline-block;
}

.First-Name-box,
.Late-Name-box{
    display: inline-block;
    width: 80px;
    border: 1px lightgray solid;
    border-radius: 6px;
    padding: 6px;
    margin: 6px 0px;
}

.Email-signupform-box{
    width: 178px;
    border: 1px lightgray solid;
    border-radius: 6px;
    padding: 6px;
    margin: 6px 0px;
}

.Signupform-button{
    background-color: rgb(47, 127, 231);
    color: white;
    border: none;
    width: 192px;
    padding: 6px;
    margin: 2px 0px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.woman-image{
    width: 100%;
}

.profile-picture{
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 14px;
}
