body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0px;
}

.game-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}


.choice-box {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 50px;
    margin-top: 12px;
}

.move-icon {
    height: 100px;
}

.move-button {
    background-color: transparent;
    border: 3px white solid;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
}

.result {
    font-size: 25px;
    font-weight: bold;
}

.reset-score-button ,
.auto-play-button {
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
} 